.container-char-list {
@extend .container;
    max-width: 1200px;
    margin: 0 auto;
}

.header-char-list{
    position: relative;
    width: 100%;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-char-list h2 {
    margin: 26px 0;
}

.header-char-list h2:before{
    top: 23px;
    left: 53px;
    transform-origin: left bottom;
    background-color: #D9230F;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg) skewX(45deg);
    width: 20px;
}

.header-char-list h2:after{
    left: -6px;
    transform-origin: right top;
    background-color: #D9230F;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    -webkit-transform: rotate(-45deg) skewX(45deg);
    transform: rotate(-45deg) skewX(45deg);
    width: 20px;
}


.search-panel-char-list input{
    border: 0;
    border-bottom: 2px solid #151515;
    width: 100%;
    padding-bottom: .4375rem;
    padding-left: 1.875rem;
    border-radius: 0;
}

.search-panel-char-list .icon-search{
    position: absolute;
}

.search-panel-char-list .icon--svg.icon--search {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: square;
}

.search-panel-char-list .icon--svg--black-stroke {
    stroke: #151515;
}

.search-panel-char-list .icon--svg {
    fill: #151515;
}

.filter-char-list .nav-pills{
    justify-content: flex-end;
}

.filter-char-list .nav-pills .nav-link{
    color: #151515;
    padding: 0 2rem 0.9rem 0;
}

.filter-char-list .nav-pills .show>.nav-link{
    color: #D9230F;
    background-color: inherit;
}

.char-list-sort{
    padding: 0 20px 0 0;
}

.char-list-sort-result{
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
}

.char-list-sort__dropdown{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.char-list-sort-result{
    display: inline-block;
}

.char-list-sort .char-list-sort-result{
    padding: 0.9rem 0;
}

.char-list-sort__dropdown .char-list-sort-result{
    padding: 0.9rem 1rem;
}

.char-list-sort__dropdown .nav-link{
    display: inline-block;
    font-size: 13px;
}

