.header-menu .logo{
    max-width: 130px;
}

.header-menu-wrapper{
    background-color: #000000 !important;
    padding: 0;
}

.header-menu .navbar-brand{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid;
}

.header-menu .nav-item>a:hover{
    color:#fff;
}

.header-menu ul>.nav-item>a{
    color:#fff;
}

.header-menu .nav-item.active:hover>a{
    color:#fff;
}

.header-menu .nav-item.active:hover ~ li>a{
    color:#ccc;
}
.header-menu .nav-link {
    padding: 0.8rem 1rem !important;
}

.header-menu ul>li{
    text-transform: uppercase;
    font-size:14px;
    margin: 0 18px;
}

.header-menu ul>li.active{
    border-bottom: 2px solid;
    border-bottom-color: #D9230F;
}