.card-item{
    margin: 6px 0 4px;
}

.card-item a{
    text-decoration: none;
}

.card-item .card-item__thumb-frame{
    background: #D9230F;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.card-item .card-item__img-wrapper{
    height: 210px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.card-item .card-item__img-wrapper img{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.card-item .card-item__img-wrapper:after{
    height: 4px;
    content: "";
    background-color: #D9230F;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card-item-body{
    padding: 16px 24px 17px 20px;
    overflow: hidden;
    position: relative;
    line-height: 1;
    background: #151515;
    color: #D9230F;
    transition: color .3s;
    vertical-align: middle;
    z-index: 30;
    height: 145px;
}

.card-item__link:hover figure img{
    transform: scale3d(1.05,1.05,1);
}

.card-item-body:before{
    background: #D9230F;
    bottom: 100%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition-timing-function: cubic-bezier(.75,0,.125,1);
    transition: transform .3s;
    width: 100%;
    z-index: -1;
}

.card-item__link:hover .card-item-body:before{
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.card-item-body:after{
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
    border-style: solid;
    border-top-color: transparent;
    border-width: 12px 12px 0 0;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: auto;
    z-index: 40;
}

.card-item__link:hover .card-item-footer__text{
    color:#fff;
}


.card-item-body__header{
    color: #fff;
}

.card-item-footer{
    bottom: 17px;
    position: absolute;
    padding-right: 10px;
    text-align: left;
}

.card-item-footer__text, .card-item-footer__description{
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .17s ease-in-out;
}

.card-item-footer__text{
    color: #bbb;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .17s ease-in-out;
}

.card-item-footer__description{
    color: #999;

}

.pagination__wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination .page-link{
    color: #202020;
}

.pagination .page-link:hover{
    color: #fff;
}